* {
    margin: 0rem;
    padding:0rem;
    ;
}

body {
    font-family: 'Work Sans', sans-serif;
}
.container {
height: 6rem;
width: 100%;
align-items: center;
justify-content: space-between;
}
.nav{
    display: flex;
    /* text-align: center; */
    align-items: center;
}
.items{
    list-style: none;
    padding-right: 1rem;
}
.g {
    color:#FF42A5;
}
.gamer { 
    font-size: 2rem;   
    font-weight: 800;
}
.frame {
    width: 4rem;
    height: 2rem;
    /* padding-top: 2rem; */
    padding-right: 1rem; 
    padding-left: 14rem;
}
.frame1 {
    width: 2rem;
    height: 2rem;
    padding-left: 1rem;
}
.frame2 {
    width: 2.2rem;
    height: 2rem;
    padding-left: .5rem;
}

.follow {
    background-color: rgba(11, 2, 35, 0.10);
    border-radius: .5rem;
    width: 15rem;
    height: 3rem;
    align-items: center;
    /* text-align: center; */
    justify-content:center;
    margin-right: 8rem;
}

.play-like {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.play {
    background-image: url('./images/Group\ 14.png');
    width: 45rem;
    height:40rem;
    text-align: left;
    padding-left: 10rem;
    padding-top: 10rem;
}
.play-like-the {
    color: #0B0223;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 600;
}

.goat {
    font-size: 5rem;
    font-weight: 800;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.line {
    color: #534C64;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 2.6rem;
}
.btn {
    display: flex;
    padding-top: 2.5rem;
}
.sign-in {
    background-color: #FF42A5;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    height: 4rem;
    width: 8rem;
    border-radius:5rem ;
    border: none;
}

.go-rogue {
    background-color: #4EC5F7;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    height: 4rem;
    width: 10rem;
    border-radius:5rem ;
    border: none;
}

.triple{
    padding-right: 6rem;
    padding-left: 12rem;
}
.we-are-gamer {
    display: flex;
    padding-top: 5rem;
}
.we-gamer {
    text-align: right;
}
.we {
    font-size: 2.7rem;
    font-weight: 800;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.img2 {
    padding-left: 10rem;
}
.know-more {
    background-color: #FF42A5;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    height: 4rem;
    width: 12rem;
    border-radius:5rem ;
    border: none;
}

.p-line {
    color: #534C64;
    font-size: 1.1rem;
    font-weight: 500;
    line-height: 2rem;
}
.line1 {
    color: #534C64;
    font-size: 1.3rem;
    font-weight: 600;
    line-height: 3.5rem;
}
.line2 {
    color: #534C64;
    font-size: 2rem;
    font-weight: 500;
    line-height: 3.5rem;
}
.funny-video {
    align-content: center;
    text-align: center;
}
.four {
    display: flex;
    justify-content: space-between;
    padding-left: 10rem;
    padding-right: 8rem;
    list-style: none;
} 
 .four-picture {
    /* display: flex;
    justify-content: space-between; */
    padding-left: 10rem;
    padding-right: 6rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    list-style: none;
}
.four-line {
    /* display: flex;
    justify-content: space-between; */
    padding-left: 1rem;
    padding-right: 6rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    list-style: none;
}
.a1 {
    text-align: left;
    width: 20%;
}

.size {
    font-size: 2.7rem;
    font-weight: 800;
}

.we-online {
    padding-right: 12rem;
    padding-left: 14rem;
    padding-top: 10rem;
    text-align: left;
    /* align-content:center; */
    align-items: center;
    position: relative;
    height: 40%;
}

.game-list{
    padding-top: 8rem;
}

.img3 {
    position: relative;
    margin-top: -12rem;
    margin-left: 45rem;
    width: 30%;
}

.games {
    display: flex;
    border-radius: 3rem;
    background: white;
    gap: 1rem;
    width: 16rem;
    height: 4rem;
    align-items: center;
    cursor: pointer;
}
.row{
    justify-content: space-around;
    width: 100%;
    list-style: none;
}

.four1 {
    display: flex;
    justify-content: space-around;
    padding-left: 16rem;
    padding-right: 10rem;
    list-style: none;
}
.footer-container {
    background-color: #0B0223;
    height: 30rem;
    color: white;
    margin-top: 5rem;
    /* text-align: center;     */
}
.white {
    color: white;
}
.list2 {
    display: flex;
    justify-content: space-around;
    padding-left: 35rem;
    padding-right: 35rem;
}

.footer-head {
    display: flex;
    padding-left: 32rem;
    padding-top: 7rem;
    padding-bottom: 4rem;

}
.footer-icon {
    display: flex;
    justify-content: space-around;
    padding-top: 3rem;
    padding-left: 40rem;
    padding-right: 40rem;
}

.list3 {
    color: rgba(255, 255, 255, 0.60);
    font-size: .85rem;
    font-weight: 500;
    display: flex;
    justify-content: space-around;
    padding-top: 3rem;
    padding-left: 30rem;
    padding-right: 30rem;
}

.list4 {
    color: rgba(255, 255, 255, 0.60);
    font-size: .85rem;
    font-weight: 500;
    display: flex;
    justify-content: space-around;
    padding-top: 3rem;
    padding-left: 40rem;
    padding-right: 40rem;
    
}


